
header
	center(100%)
	margin auto
	background-color flatui-wetasphalt
	color flatui-clouds
	border-color flatui-clouds
	position relative

.logo
	image '../images/infratab-logo.png' 240px 44px
	background-repeat no-repeat
	background-position left center
	height 64px
	width 240px
	margin 0 0 0 40px
	display inline-block

.identity
	absolute right top
	width 150px
	height 32px
	margin 16px 40px 0 0
	display inline-block

.profile-image
	display inline-block

	img
		width 32px
		height 32px
		box-sizing border-box
		border solid 3px
		border-radius 16px
		background-color flatui-wisteria

.profile-name
	display inline-block
	line-height 32px
	vertical-align top
	margin 0 0 0 16px