@import 'jeet'
@import 'nib'
@import 'flatuicolors'

global-reset()

.bg-clouds
	background flatui-clouds
	color flatui-midnightblue

.bg-midnightblue
	background flatui-midnightblue
	color flatui-clouds

.bg-wetasphalt
	background flatui-wetasphalt
	color flatui-clouds

.bg-turquoise
	background flatui-turquoise
	color flatui-clouds

.bg-greensea
	background flatui-greensea
	color flatui-clouds

.bg-amethyst
	background flatui-amethyst
	color flatui-clouds

.bg-peterriver
	background flatui-peterriver
	color flatui-clouds


html,body
	width 100%

.container
	clearfix()
	overflow hidden !important

@import 'typography'

@import 'header'
@import 'sidebar'
@import 'content'
@import 'footer'