@import 'type-utils'
@import 'font-face'


font-face('icon-font','icon-font/font/icon-font')

base-font-size = 100%

h1,h2,h3,h4,h5,h6
	font-family 'TypoPRO Oxygen'

body
	font-family 'TypoPRO Clear Sans'
